# Documentation on CODEOWNERS file:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Update this file with the GitHub usernames that are relevant to your repository.

* @MadeleineKRoberts
/.github/workflows/ @aaronhaefner
/.github/ISSUE_TEMPLATE/ @klinkoberstar
/new_arrivals_chi/**.py @FedericoDM
/new_arrivals_chi/templates/ @sumslong
/new_arrivals_chi/static/ @sumslong
/tests/ @aaronhaefner
/*.md @klinkoberstar
