# Documentation on CODEOWNERS file:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Update this file with the GitHub usernames that are relevant to your repository.

