# Documentation on CODEOWNERS file:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Update this file with the GitHub usernames that are relevant to your repository.

* @MadeleineKRoberts @aaronhaefner
/.github/workflows/ @aaronhaefner @klinkoberstar
/.github/ISSUE_TEMPLATE/ @klinkoberstar @FedericoDM
/new_arrivals_chi/app/**.py @FedericoDM @MadeleineKRoberts
/new_arrivals_chi/app/templates/ @sumslong @xiomara0
/new_arrivals_chi/app/static/ @sumslong @xiomara0
/tests/ @aaronhaefner @klinkoberstar
/*.md @klinkoberstar @FedericoDM
/*.toml @aaronhaefner @klinkoberstar
/*.yaml @aaronhaefner @klinkoberstar
