body {
    background-color: #f2f2f2;
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.text-container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;
}

.home-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    box-sizing: border-box;
}

.button-container {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"], select {
    width: 22%;
    padding: 5px;
    margin-bottom:20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="email"], select {
    padding: 5px;
    margin-bottom:20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.button {
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
}

.login-button {
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    font-size: 17px;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 150px;
    max-width: 500px;
}

.update-button {
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 150px;
    max-width: 500px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.language-button {
    font-size: 18px;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.footer-links {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links .underline {
    text-decoration: underline;
}

.footer-links i {
    margin-left: 5px;
}

.button-blue {
    background-color: #9FC5F8;
    color: black;
}

.button-blue:hover {
    background-color: #297def;
}

.button-yellow {
    background-color: #FFE599;
    color: black;
}

.button-yellow:hover {
    background-color: #FFBE00;
}

.button-green {
    background-color: #B6D7A8;
    color: black;
}

.button-green:hover {
    background-color: #27ae60;
}

.bottom-left {
    display: inline-block;
    font-size: 16px;
    position: relative;
}

.yellow-button {
    background-color: #FFD966;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.yellow-button:hover {
    background-color: #FFBE00;
}

.button-orange {
    background-color: #F9E3CE;
    color: black;
}

.button-orange:hover {
    background-color: #FF8C00;
}

.button.green {
    background-color: #DAE9D3;
    color: black;
}

.button.green:hover {
    background-color: #27ae60;
}

.button.blue {
    background-color: #E7F0FE;
    color: black;
}

.button.blue:hover {
    background-color: #297def;
}

.register-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hours-container {
    display: flex;
    flex-direction: column;
}

.hours-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    justify-content: center;
}

.day-label {
    margin-right: 20px;
    font-weight: bold;
    width: 100px;
}

.day-intervals {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.day-group {
    display: flex;
    margin-bottom: 10px;
}

.day-group div {
    margin-right: 10px;
}

.day-group div:last-child {
    margin-right: 0;
}

.buttons-group {
    display: flex;
    align-items: center;
}

.buttons-group button {
    margin-right: 5px;
}

.buttons-group button:last-child {
    margin-right: 0;
}

.location-section {
    flex-direction: column;

}

.location-label {
    margin-right: 5px;
    font-weight: bold;
    width: 100px;
}

.location-section input, .location-section select {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 20px;
}

.street-input {
    display: flex;
    margin-bottom: 20px;
}
.street-section input, .street-section select {
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.time-input {
    width: 100px;
    height: 25px;
}

.flashed_error_message {
    color: red;
    padding-bottom: 15px;
}

.location-input {
    width: 150px;
    padding: 5px;
    font-size: 15px;
}
