<!--
Project: new_arrivals_chi
File name: add_organization.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through undocumented resources.

-->
{% extends "base.html" %}

{% block content %}
<!--Update with add org info-->

<!-- <h1>{{translations[language]['profile']['title']}}</h1> -->

<!-- Form to add stuff -->

<div class="box">
    <div class="box-big-title">{{ translations[language]["profile"]["title"] }} </div>
    <form method="POST" action="/add_organization">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] | escape }}.</a>.
                </div>
            {% endif %}
            {% endwith %}
        <form method="POST" action="/add_organization">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="{{ translations[language]['login']['email'] | escape }}" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="email-confirm" name="email-confirm" placeholder="{{ translations[language]['login']['email'] | escape }}" autofocus="">
            </div>
        </div>

        <div class="content">
            {{ 'Confirm e-mail' if language == 'en' else 'Confirmar correo'}}
        </div>
            <button class="yellow-button">{{ 'Add organization' if language == 'en' else 'Agregar organización' }}</button>
    </form>
</div>




{% endblock %}
