<!--
Project: new_arrivals_chi
File name: aslyum_info.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through health information.


-->
{% extends "base.html" %}

{% block content %}
    <form action="/legal/asylum_info" method="GET">
        <button type="submit" class="language-button">{{ translations[language]['util']['language'] | escape }}</button>
        <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
    </form>
    <!-- We still need to make json for this static page-->

    <h1>{{translations[language]['legal_start']['asylum_header']}}</h1>

    <div class="info-section">
        <h2>{{ 'Application Instructions'  }}</h2>
        <p>{{ 'Provide instructions and guidance for Aslyum.' }}</p>
    </div>

    <div class="info-section">
        <h2>{{ 'Important Documents' }}</h2>
        <ul>
            <li>{{ 'Document 1' }}</li>
            <li>{{ 'Document 2' }}</li>
            <li>{{ 'Document 3' }}</li>
        </ul>
    </div>

    <div class="button-container">
        <a href="javascript:history.back()" class="language-button">Back</a>
    </div>
{% endblock %}