<!--
Project: new_arrivals_chi
File name: base.html
Associated Files:
    legal.html, home.html, main.py

Template for extension. Contains JavaScript function for language, HTML, and CSS formatting.

References: https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024

Contributors:
Summer Long @sumslong
Madeleine Roberts @MadeleineKRoberts
-->
<!DOCTYPE html>
<html lang="{{ language | escape }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Arrival Resource Portal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <nav class="navbar" style="position: absolute; top: 20px; left: 20px;">
        <button onclick="navigateTo('/', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['home'] | escape }}</button>
        {% if current_user.is_authenticated %}
        <button onclick="navigateTo('/profile', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['profile'] | escape }}</button>
        <button onclick="navigateTo('/logout', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['logout'] | escape }}</button>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <button onclick="navigateTo('/login', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['util']['login'] | escape }}</button>
        <button onclick="navigateTo('/signup', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['sign_up'] | escape }}</button>
        {% endif %}
    </nav>


<form id="languageForm" action="/" method="GET">
    <button type="button" class="language-button" onclick="changeLanguage('{{ language | escape }}')">
        {% if language == 'es' %}
            English
        {% else %}
            Español
        {% endif %}
    </button>
    <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
</form>

<div class="container has-text-centered">
    {% block content %}
    {% endblock %}
 </div>

 <p class="report-error">
    <a href="/report-error">{{ translations[language]['base']['report_error'] | escape }}</a> <i class="fas fa-bug"></i>
</p>




<script>
    function navigateTo(destination, language) {
        window.location.href = destination + '?lang=' + language;
    }

    function changeLanguage(currentLanguage) {
        const newLanguage = currentLanguage === 'en' ? 'es' : 'en'; // Toggle between English and Spanish

        // Update the hidden input value
        const languageInput = document.querySelector('input[name="lang"]');
        languageInput.value = newLanguage;

        // Update the language attribute in the HTML tag
        document.querySelector('html').setAttribute('lang', newLanguage);

        // Redirect to the translated page if currently on a specific page
        const currentPageURL = window.location.pathname;
        if (currentPageURL.includes('/login')) {
            window.location.href = '/login?lang=' + newLanguage;
        } else if (currentPageURL.includes('/signup')) {
            window.location.href = '/signup?lang=' + newLanguage;
        } // Add more conditions for other pages as needed

        // Update text on the language toggle button after redirection
        const languageButton = document.querySelector('.language-button');
        languageButton.innerText = newLanguage === 'en' ? 'Español' : 'English';
    }
</script>

</body>
</html>
