<!--
Project: new_arrivals_chi
File name: profile.html
Associated Files:
    legal.html, home.html, main.py

Template for extension. Contains JavaScript function for language, HTML, and CSS formatting.

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024

Contributors:
Summer Long @sumslong
Madeleine Roberts @MadeleineKRoberts
-->
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Arrival Resource Portal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <nav class="navbar" style="position: absolute; top: 20px; left: 20px;">
        <button onclick="navigateTo('/profile', '{{ language }}')" class="navbar-item">{{ 'Profile' if language == 'en' else 'Perfil' }}</button>
        <button onclick="navigateTo('/', '{{ language }}')" class="navbar-item">{{ 'Home' if language == 'en' else 'Página de inicio' }}</button>
        <button onclick="navigateTo('/login', '{{ language }}')" class="navbar-item">{{ 'Login' if language == 'en' else 'Iniciar sesión' }}</button>
        <button onclick="navigateTo('/signup', '{{ language }}')" class="navbar-item">{{ 'Sign Up' if language == 'en' else 'Registrar' }}</button>
        <button href="url_for('auth.logout')" class="navbar-item">{{ 'Logout' if language == 'en' else 'Cerrar sesión' }}</button>
    </nav>
</body>

<form action="/" method="GET">
    <button type="submit" class="language-button">{{ 'Español' if language == 'en' else 'English' }}</button>
    <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' }}">
</form>

<div class="container has-text-centered">
    {% block content %}
    {% endblock %}
 </div>

 <p class="report-error">
    <a href="/report-error">{{ 'Reportar error del sitio web' if language == 'es' else 'Report website error' }}</a> <i class="fas fa-bug"></i>
</p>

</html>


<script>
    function navigateTo(destination, language) {
        window.location.href = destination + '?lang=' + language;
    }
</script>
