<!--
Project: new_arrivals_chi
File name: base.html
Associated Files:
    legal.html, home.html, main.py

Template for extension. Contains JavaScript function for language, HTML, and CSS formatting.

References: https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024

Contributors:
Summer Long @sumslong
Madeleine Roberts @MadeleineKRoberts
-->
<!DOCTYPE html>
<html lang="{{ language | escape }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Arrival Resource Portal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block styles %}{% endblock %}
</head>

<body>
    <nav class="navbar" style="position: absolute; top: 20px; left: 20px;">
        <button onclick="navigateTo('/', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['home'] | escape }}</button>
        {% if current_user.is_authenticated %}
        <button onclick="navigateTo('/dashboard', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['dashboard'] | escape }}</button>
        <button onclick="navigateTo('/logout', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['logout'] | escape }}</button>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <button onclick="navigateTo('/login', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['util']['login'] | escape }}</button>
        <button onclick="navigateTo('/signup', '{{ language | escape }}')" class="navbar-item">{{ translations[language]['base']['sign_up'] | escape }}</button>
        {% endif %}
    </nav>
</body>

<form action="{{ url_for(request.endpoint) }}" method="GET">
    <button type="submit" class="language-button">
        {% if language == 'es' %}
            English
        {% else %}
            Español
        {% endif %}
    </button>
    <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
</form>

<div class="container">
    {% block content %}
    {% endblock %}
 </div>

 <p class="report-error">
    <a href="/report-error">{{ translations[language]['base']['report_error'] | escape }}</a> <i class="fas fa-bug"></i>
</p>

</html>


<script>
    function navigateTo(destination, language) {
        window.location.href = destination + '?lang=' + language;
    }
</script>
