{% extends "base.html" %}

{% block content %}


<div class="column is-4 is-offset-4">
    <h3 class="title">
        {{ 'Change Password' if language == 'en' else 'Cambiar su contraseña' }}
        </h3>
    <div class="box">
        <form method="POST" action="/change_password">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}.</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/change_password">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="old_password" placeholder="{{ 'Change Password' if language == 'en' else 'Contraseña anterior' }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password" placeholder="{{ 'New Password' if language == 'en' else 'Contraseña nueva' }}">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password_confirm" placeholder="{{ 'New Password' if language == 'en' else 'Contraseña nueva' }}">
                </div>
            </div>

            {{ 'Your password must include at least one uppercase letter, one lowercase letter, one number, one special symbol, and be longer than 8 characters.'
                    if language == 'en' else
                    'Su contraseña debe incluir al menos una letra mayúscula, una letra minúscula, un número, un símbolo especial y tener más de 8 caracteres.'
            }}

            <button class="button is-block is-info is-large is-fullwidth">{{ 'Change Password' if language == 'en' else 'Cambiar su contraseña' }}</button>
        </form>
    </div>
</div>

{% endblock %}
