<!--
Project: new_arrivals_chi
File name: dashboard.html
Associated Files:
    base.html, main.py, edit_organization.html, organization.html

HTML for organization dashboard page.
-->
{% extends "base.html" %}

{% block content %}
<div class="wrapper">
  <div class="text-container">
    <h1>{{ organization.name | escape }}</h1>
  </div>
  <div class="button-container">
        <button class="button button-blue" onclick="navigateTo('{{ url_for('main.org', organization_id=organization.id) }}', '{{ language }}')">
            {{ _('View My Page') | escape }}
        </button>
        <button class="button button-green" onclick="navigateTo('{{ url_for('main.dashboard') }}', '{{ language }}')">
            {{ _('Update My Information') | escape }}
        </button>
        <button class="button button-orange" onclick="navigateTo('{{ url_for('authorize.change_password') }}', '{{ language }}')">
            {{ _('Change My Password') | escape }}
        </button>
        <button class="yellow-button" onclick="navigateTo('{{ url_for('main.home') }}', '{{ language }}')">
            {{ _('Back') | escape }}
        </button>
    </div>
</div>
{% endblock %}
