<!--
Project: new_arrivals_chi
File name: general.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through legal parole information.

-->

{% extends "base.html" %}

{% block content %}
<!-- CONTENT-->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <a></a>
        <h1>{% set content = translations[language]['welcome'] %}</h1>
        {% if content.title %}
        <h1>{{ content.title }}</h1>
        {% endif %}
        {% for section in content.content %}
          {% if section.header %}
            <h2 id="{{ section.header }}">{{ section.header }}</h2>
          {% endif %}
          {% if section.sub %}
            <h3>{{ section.sub }}</h3>
          {% endif %}
          {% if section.body %}
            <p>{{ section.body }}</p>
          {% endif %}
          {% if section.link_text and section.source_link %}
            <p><a href="{{ section.source_link }}" target="_blank">{{ section.link_text }}</a></p>
          {% endif %}
        {% if section.list %}
          <ul>
            {% for item in section.list %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <!-- Navigation side menu -->
    <div class="p-4">
      <div class="container" style="position: fixed;">
        <h4 class="font-italic">Navigation</h4>
        <ul class="cds-sidenav  flex-column">
            <li>
                {% for section in content.content %}
                  {% if section.header %}
                    <a href="#{{ section.header }}">{{ section.header }}</a>
                  {% endif %}
                {% endfor %}
            </li>
        </ul>
      </div>
  </div>
</div>
</main>
{% endblock %}
