<!--
Project: new_arrivals_chi
File name: health.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through health information.

Creation:
@Author: Summer Long @sumslong
@Date: 05/03/2024

Contributors:
Summer Long @sumslong
Federico Dominguez Molina @FedericoDM
-->
{% extends "base.html" %}

{% block content %}

    <div class="box">
        <div class="box-big-title">{{ translations[language]['health']['health_information'] | escape }}</div>
        <div class="box-title">{{ translations[language]['util']['i_want_to'] | escape }} </div>
        <div class="button-container">
            <button class="button orange" onclick="navigateTo('/health/search', '{{ language | escape }}')">
                {{ translations[language]['health']['receive_assistance'] | escape }}
              </button>
            <button class="button green">{{ translations[language]['health']['learn_more'] | escape }}</button>
            <button class="yellow-button">{{ translations[language]['util']['something_else'] | escape }}</button>
            <p class="bottom-left">
                <a href="/">{{ translations[language]['util']['back'] | escape }}</a>
            </p>
            <p>
        </div>

    </div>
{% endblock %}
