<!--
Project: new_arrivals_chi
File name: health.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through health information.

Creation:
@Author: Summer Long @sumslong
@Date: 05/03/2024

Contributors:
Summer Long @sumslong
Federico Dominguez Molina @FedericoDM
-->
{% extends "base.html" %}

{% block content %}

    <form action="/health" method="GET">
        <button type="submit" class="language-button">{{ 'Español' if language == 'en' else 'English' | escape }}</button>
        <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
    </form>
    <div class="box">
        <div class="box-big-title">{{ 'Información Médica' if language == 'es' else 'Health Information' | escape }}</div>
        <div class="box-title">{{ 'Quiero...' if language == 'es' else 'I want to...' | escape }} </div>
        <div class="button-container">
            <button class="button orange" onclick="navigateTo('/health/search', '{{ language | escape }}')">
                {{ 'Recibe Asistencia Inmediata' if language == 'es' else 'Receive Assistance Now' | escape }}
              </button>
            <button class="button green">{{ 'Aprende Más de Otros Recursos' else 'Learn More About Resources' | escape }}</button>
            <button class="yellow-button">{{ 'Algo más' if language == 'es' else 'Something else' | escape }}</button>
            <p class="bottom-left">
                <a href="/">{{ '< Regresar' if language == 'es' else '< Back' | escape }}</a>
            </p>
            <p>
        </div>

    </div>
{% endblock %}
