<!--
Project: new_arrivals_chi
File name: health.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through health information.

Creation:
@Author: Summer Long @sumslong
@Date: 05/03/2024

Contributors:
Summer Long @sumslong
Federico Dominguez Molina @FedericoDM
-->
{% extends "base.html" %}

{% block content %}

    <form action="/health" method="GET">
        <button type="submit" class="language-button">{{ translations[language]['util']['language'] }}</button>
        <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' }}">
    </form>
    <div class="box">
        <div class="box-big-title">{{ translations[language]['health']['health_information'] }}</div>
        <div class="box-title">{{ translations[language]['util']['i_want_to'] }} </div>
        <div class="button-container">
            <button class="button orange" onclick="navigateTo('/health/search', '{{ language }}')">
                {{ translations[language]['health']['receive_assistance'] }}
              </button>
            <button class="button green">{{ translations[language]['health']['learn_more'] }}</button>
            <button class="yellow-button">{{ translations[language]['util']['something_else'] }}</button>
            <p class="bottom-left">
                <a href="/">{{ translations[language]['util']['back'] }}</a>
            </p>
            <p>
        </div>

    </div>
{% endblock %}
