<!--
Project: new_arrivals_chi
File name: health.html
Associated Files:
    base.html, main.py, health.html

Search interface for health resources for a user.

Creation:
@Author: Summer Long @sumslong
@Date: 05/03/2024

Contributors:
Summer Long @sumslong
-->

{% extends "base.html" %}

{% block content %}
<form action="/health/search" method="GET">
    <button type="submit" class="language-button">{{ 'Español' if language == 'en' else 'English' }}</button>
    <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' }}">
</form>
<h1>Placeholder for search interface</h1>
{% endblock %}
