<!--
Project: new_arrivals_chi
File name: home.html
Associated Files:
    base.html, main.py

Main landing page for the user. Does not require authentication to access.

Creation:
@Author: Summer Long @sumslong
@Date: 04/22/2024

Contributors:
Summer Long @sumslong
Madeleine Roberts @MadeleineKRoberts
Federico Dominguez Molina @FedericoDM
-->
{% extends "base.html" %}

{% block content %}

    <h1>{{ translations[language]['home']['welcome'] }}</h1>
    <p>{{ translations[language]['home']['find_support'] }}</p>
    <p>{{ translations[language]['home']['please_click'] }}</p>
    <div class="home-button-container">
        <button class="button button-blue" onclick="navigateTo('/legal', '{{ language }}')">{{ translations[language]['home']['legal'] }}</button>
        <button class="button button-yellow" onclick="navigateTo('/health', '{{ language }}')">{{ translations[language]['home']['health'] }}</button>
        <button class="button button-green" onclick="window.location.href='/food'">{{ translations[language]['home']['food'] }}</button>
    </div>
{% endblock %}
