<!--
Project: new_arrivals_chi
File name: legal.html
Associated Files:
    x.html [filler]

Skeleton html of unauthenticated view of an organization's website.
Will call from the database when it is set up to render based on an indentifier.
-->

{% extends "base.html" %}

{% block content %}

<div class="box">
    <div class="box-big-title">{{ 'Nombre de la Organización' if language == 'es' else 'Organization Name' | escape }} </div>
    <div class="box-contact-info"> <i class="fa-solid fa-diamond-turn-right"></i> 123 Main St&nbsp;&nbsp;<i class="fa-solid fa-phone"></i> 234-567-8901</div>
    <div class="box-contact-info">{{ 'Horas de Atención:' if language =='es' else 'Open Hours:' | escape }}</div>
    <div class="box-contact-info">{{ 'Idiomas hablados:' if language == 'es' else 'Languages Spoken:' | escape }}</div>
    <div class="box-contact-info">{{ 'Recursos y Servicios:' if language == 'es' else 'Supplies and Services:'| escape }}</div>
</div>

{% endblock %}
