<!--
Project: new_arrivals_chi
File name: legal.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through legal information.

Creation:
@Author: Summer Long @sumslong
@Date: 04/22/2024

Contributors:
Summer Long @sumslong
-->
{% extends "base.html" %}

{% block content %}

    <form action="/legal" method="GET">
        <button type="submit" class="language-button">{{ translations[language]['util']['language'] | escape }}</button>
        <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
    </form>
    <div class="box">
        <div class="box-big-title">{{ translations[language]['legal']['legal_resources'] }}</div>
        <div class="box-title">{{ translations[language]['util']['i_want_to'] }}</div>
        <div class="button-container">
            <button class="button orange">{{ translations[language]['legal']['apply_for'] }}</button>
            <button class="button green">{{ translations[language]['legal']['understand_rights'] }}</button>
            <button class="button blue">{{ translations[language]['legal']['receive_legal'] }}</button>
            <button class="yellow-button">{{ translations[language]['util']['something_else'] }}</button>
            <p class="bottom-left">
                <a href="/">{{ translations[language]['util']['back'] | escape }}</a>
            </p>
            <p>
        </div>

    </div>
{% endblock %}
