<!--
Project: new_arrivals_chi
File name: legal_tps_info.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through health information.

Creation:
@Author: Xiomara Salazar @xiomara0
@Date: 05/12/2024

-->
{% extends "base.html" %}

{% block content %}
    <form action="/legal/tps_info" method="GET">
        <button type="submit" class="language-button">{{ translations[language]['util']['language'] | escape }}</button>
        <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
    </form>

    <h1>{{ 'Legal TPS Information' if language == 'en' else 'Información Legal de TPS' }}</h1>

    <div class="info-section">
        <h2>{{ 'Eligibility Criteria' if language == 'en' else 'Criterios de Elegibilidad' }}</h2>
        <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod mattis felis, eget interdum justo congue nec.' if language == 'en' else 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod mattis felis, eget interdum justo congue nec.' }}</p>
    </div>

    <div class="info-section">
        <h2>{{ 'Application Process' if language == 'en' else 'Proceso de Aplicación' }}</h2>
        <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate magna id justo interdum, eget condimentum mi tincidunt.' if language == 'en' else 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vulputate magna id justo interdum, eget condimentum mi tincidunt.' }}</p>
    </div>

    <div class="info-section">
        <h2>{{ 'Important Documents' if language == 'en' else 'Documentos Importantes' }}</h2>
        <ul>
            <li>{{ 'Document 1' }}</li>
            <li>{{ 'Document 2' }}</li>
            <li>{{ 'Document 3' }}</li>
        </ul>
    </div>

    <div class="info-section">
        <h2>{{ 'Contact Information' if language == 'en' else 'Información de Contacto' }}</h2>
        <p class="contact-info"><i class="fa-solid fa-diamond-turn-right"></i> 123 Main St</p>
        <p class="contact-info"><i class="fa-solid fa-phone"></i> 234-567-8901</p>
        <p class="contact-info"><i class="fa-solid fa-envelope"></i> info@example.com</p>
    </div>
{% endblock %}