<!--
Project: new_arrivals_chi
File name: login.html
Associated Files:
    base.html, main.py

Skeleton HTML for user login page.

References: https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024
-->

{% extends "base.html" %}
{% block content %}
<div >
    <h3 class="title">{{ translations[language]['util']['login'] }}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{ translations[language]['profile']['email']  }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="{{ translations[language]['profile']['password'] }}">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    {{ translations[language]['login']['remember_me'] }}
                </label>
            </div>
            <button >{{ translations[language]['util']['login'] }}</button>
        </form>
    </div>
</div>
{% endblock %}
