<!--
Project: new_arrivals_chi
File name: login.html
Associated Files:
    base.html, main.py

Skeleton HTML for user login page.

References: https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024
-->

{% extends "base.html" %}
{% block content %}
<form action="/login" method="GET">
    <button type="submit" class="language-button">{{ 'English' if language == 'es' else 'Español' | escape }}</button>
    <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
</form>
<div >
    <h3 class="title">{{ translations[language]['util']['login'] | escape }}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] | escape }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{ translations[language]['profile']['email']  | escape }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="{{ 'Password' if language == 'en' else 'Contraseña' | escape }}" oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    {{ translations[language]['login']['remember_me'] | escape }}
                </label>
            </div>
            <button >{{ translations[language]['util']['login'] | escape }}</button>
        </form>
    </div>
</div>
{% endblock %}
