<!--
Project: new_arrivals_chi
File name: org_management.html
Associated Files:
    base.html, main.py, org_management.css

HTML for edit organization page.
-->
{% extends "base.html" %}
{% block content %}

<head>
<link rel="stylesheet" href="org_management.css">

</head>
<body>
    <h1>{{ translations[language]['admin']['org_management'] }}</h1>
    <table>
        <thead>
            <tr>
                <th>{{ translations[language]['admin']['name_of_org'] }}</th>
                <th>{{ translations[language]['admin']['status'] }}</th>
                <th>{{ translations[language]['admin']['action'] }}</th>
            </tr>
        </thead>
        <tbody>
            {% for organization in organizations %}
            <tr>
                <td>{{ organization.name }}</td>
                <td>{% if organization.status == 'ACTIVE' %}{{ translations[language]['admin']['active'] }}
                    {% elif organization.status == 'HIDDEN' %}{{ translations[language]['admin']['hidden'] }}
                    {% elif organization.status == 'SUSPENDED' %}{{ translations[language]['admin']['suspended']}}
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn-edit" onclick="navigateTo('{{ url_for('authorize.admin_edit_organization', organization_id=organization.id) }}', '{{ language }}')">
                        {{ translations[language]['admin']['edit'] }}
                    </button>
                    <button type="button" class="btn-suspend" onclick="navigateTo('{{ url_for('authorize.toggle_suspend_organization', organization_id=organization.id) }}', '{{ language }}')">
                        {% if organization.status == 'ACTIVE' %}{{ translations[language]['admin']['suspend'] }}
                        {% else %}{{ translations[language]['admin']['unsuspend']}}
                        {% endif %}
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="yellow-button" onclick="location.href='{{ '/' | escape }}'">
        {{ translations[language]['util']['back'] | escape }}
    </button>
    <button class="button-orange" onclick="location.href='{{ '/add_organization' | escape }}'">
        {{ translations[language]['admin']['add_org'] | escape }}
    </button>
</body>
{% endblock %}
