<!--
Project: new_arrivals_chi
File name: organization.html
Associated Files:
    main.py, dashboard.html, health_search.html

Uauthenticated view of an organization's website. Calls database
using an organization's unique id and populates information.
-->

{% extends "base.html" %}

{% block content %}
<div class="org-info-container">
    <div class="title">{{ organization.name }}</div>
    <div class="box-contact-info">
        <i class="fa-solid fa-diamond-turn-right"></i> {{ organization.street_address }}, {{ organization.city }}, {{ organization.state }} {{ organization.zip_code }}&nbsp;&nbsp;
        <i class="fa-solid fa-phone"></i> {{ organization.phone }}
    </div>
    
    <div class="box-contact-info subheader">{{ 'Horas de Atención:' if language =='es' else 'Open Hours:' | escape }}</div>
    <div class="box-contact-info">
        <ul>
            {% for day, hours_list in organization.hours.items() %}
                {% if hours_list %}
                    <li>
                        {{ day|title }}:
                        {% for hours in hours_list %}
                            {{ hours.open.strftime('%I:%M %p') }} - {{ hours.close.strftime('%I:%M %p') }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    <div class="box-contact-info subheader">{{ 'Idiomas hablados:' if language == 'es' else 'Languages Spoken:' | escape }}</div>
    <div class="box-contact-info">{{ organization.language if organization.language else 'Not specified' }}</div>
    
    <div class="box-contact-info subheader">{{ 'Recursos y Servicios:' if language == 'es' else 'Supplies and Services:'| escape }}</div>
    <div class="box-contact-info">
        <ul>
            {% for service in organization.service %}
                <li>{{ service.service }} ({{ service.category }})</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}