<!--
Project: new_arrivals_chi
File name: profile.html
Associated Files:
    base.html, main.py

Skeleton HTML for user profile page.

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024
-->

{% extends "base.html" %}

{% block content %}
<h1>
    {{'Profile infomation will exist here.'
    if language == 'en' else
    'La información del perfil existirá aquí.'| escape }}

    <div class="home-button-container">
        <button class="button button-blue" onclick="navigateTo('/change_password', '{{ language | escape }}')">{{ 'Cambiar su contraseña' if language == 'es' else 'Change Password' | escape }}</button>
    </div>
</h1>
{% endblock %}
