<!--
Project: new_arrivals_chi
File name: profile.html
Associated Files:
    base.html, main.py

Skeleton HTML for user profile page.

Creation:
@Author: Madeleine Roberts @MadeleineKRoberts
@Date: 04/24/2024
-->

{% extends "base.html" %}
"view_org_page": "View Organization Page.",
"update_org_info": "Update Organization Information",
"change_password": "Change My Password"
{% block content %}

    <div class="box">
        <div class="box-big-title">{{ organization | escape }}</div>
        <div class="button-container">
            <button class="button orange" onclick="navigateTo('/health/search', '{{ language | escape }}')">
                {{ translations[language]['profile']['view_org_page'] | escape }}
              </button>
            <button class="button green">{{ translations[language]['health']['update_org_info'] | escape }}</button>
            <button class="yellow-button">{{ translations[language]['profile']['change_password'] | escape }}</button>
            <p class="bottom-left">
                <a href="/">{{ translations[language]['util']['back'] | escape }}</a>
            </p>
            <p>
        </div>

    </div>
{% endblock %}
