<!--
Project: new_arrivals_chi
File name: register.html
Associated Files:
    base.html, authorize.py

Page for new users to complete inital organization information
-->

{% extends "base.html" %}

{% block content %}
<div class="register-container">
    <h1>{{ _('Register Organization Profile') }}</h1>
    <form method="POST" action="{{ url_for('authorize.post_register') }}">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashed_error_message">
                    {{ messages[0] | escape }}
                </div>
            {% endif %}
        {% endwith %}
        <h2>{{ _('Primary Location:') }}</h2>
        <div class="street-section">
            <label class="location-label" for="street">{{ _('Street Address:') }}</label>
            <input type="text" id="street" name="street" required>
        </div>

        <div class="location-section">
            <label class="location-label" for="city">{{ _('City:') }}</label>
            <input type="text" id="city" name="city" value="Chicago" readonly required>

            <label class="location-label" for="state">{{ _('State:') }}</label>
            <input type="text" id="state-display" value="Illinois" readonly required>
            <input type="hidden" id="state" name="state" value="IL" readonly required>

            <label class="location-label" for="zip-code">{{ _('Zip Code:') }}</label>
            <input type="text" id="zip-code" name="zip-code" required>
            <label class="location-label" for="neighborhood">{{ _('Neighborhood:') }}</label>
            <select id="neighborhood" name="neighborhood" required>
                <option value="" disabled selected>{{ _('Neighborhood') }}</option>
                <option value="Albany_Park">{{ _('Albany Park') }}</option>
                <option value="Altgeld_Gardens">{{ _('Altgeld Gardens') }}</option>
                <option value="Andersonville">{{ _('Andersonville') }}</option>
                <option value="Arcadia_Terrace">{{ _('Arcadia Terrace') }}</option>
                <option value="Archer_Heights">{{ _('Archer Heights') }}</option>
                <option value="Armour_Square">{{ _('Armour Square') }}</option>
                <option value="Ashburn">{{ _('Ashburn') }}</option>
                <option value="Ashburn_Estates">{{ _('Ashburn Estates') }}</option>
                <option value="Auburn_Gresham">{{ _('Auburn Gresham') }}</option>
                <option value="Avalon_Park">{{ _('Avalon Park') }}</option>
                <option value="Avondale">{{ _('Avondale') }}</option>
                <option value="Avondale_Gardens">{{ _('Avondale Gardens') }}</option>
                <option value="Back_of_the_Yards">{{ _('Back of the Yards') }}</option>
                <option value="Belmont_Central">{{ _('Belmont Central') }}</option>
                <option value="Belmont_Gardens">{{ _('Belmont Gardens') }}</option>
                <option value="Hermosa">{{ _('Hermosa') }}</option>
                <option value="Logan_Square">{{ _('Logan Square') }}</option>
                <option value="Belmont_Heights">{{ _('Belmont Heights') }}</option>
                <option value="Belmont_Terrace">{{ _('Belmont Terrace') }}</option>
                <option value="Beverly">{{ _('Beverly') }}</option>
                <option value="Beverly_View">{{ _('Beverly View') }}</option>
                <option value="Beverly_Woods">{{ _('Beverly Woods') }}</option>
                <option value="Big_Oaks">{{ _('Big Oaks') }}</option>
                <option value="Northalsted_Boystown">{{ _('Northalsted "Boystown"') }}</option>
                <option value="Bowmanville">{{ _('Bowmanville') }}</option>
                <option value="Brainerd">{{ _('Brainerd') }}</option>
                <option value="Brickyard">{{ _('Brickyard') }}</option>
                <option value="Bridgeport">{{ _('Bridgeport') }}</option>
                <option value="Brighton_Park">{{ _('Brighton Park') }}</option>
                <option value="Bronzeville">{{ _('Bronzeville') }}</option>
                <option value="Bucktown">{{ _('Bucktown') }}</option>
                <option value="Budlong_Woods">{{ _('Budlong Woods') }}</option>
                <option value="Buena_Park">{{ _('Buena Park') }}</option>
                <option value="Burnside">{{ _('Burnside') }}</option>
                <option value="Cabrini_Green">{{ _('Cabrini–Green') }}</option>
                <option value="Calumet_Heights">{{ _('Calumet Heights') }}</option>
                <option value="Canaryville">{{ _('Canaryville') }}</option>
                <option value="Central_Station">{{ _('Central Station') }}</option>
                <option value="Chatham">{{ _('Chatham') }}</option>
                <option value="Chicago_Lawn">{{ _('Chicago Lawn') }}</option>
                <option value="Chinatown">{{ _('Chinatown') }}</option>
                <option value="Chrysler_Village">{{ _('Chrysler Village') }}</option>
                <option value="Clarendon_Park">{{ _('Clarendon Park') }}</option>
                <option value="Clearing_East">{{ _('Clearing East') }}</option>
                <option value="Clearing_West">{{ _('Clearing West') }}</option>
                <option value="Cottage_Grove_Heights">{{ _('Cottage Grove Heights') }}</option>
                <option value="Cragin">{{ _('Cragin') }}</option>
                <option value="Crestline">{{ _('Crestline') }}</option>
                <option value="Dearborn_Homes">{{ _('Dearborn Homes') }}</option>
                <option value="Dearborn_Park">{{ _('Dearborn Park') }}</option>
                <option value="Douglas_Park">{{ _('Douglas Park') }}</option>
                <option value="Dunning">{{ _('Dunning') }}</option>
                <option value="East_Beverly">{{ _('East Beverly') }}</option>
                <option value="East_Chatham">{{ _('East Chatham') }}</option>
                <option value="East_Garfield_Park">{{ _('East Garfield Park') }}</option>
                <option value="East_Hyde_Park">{{ _('East Hyde Park') }}</option>
                <option value="East_Pilsen">{{ _('East Pilsen') }}</option>
                <option value="East_Side">{{ _('East Side') }}</option>
                <option value="East_Village">{{ _('East Village') }}</option>
                <option value="Eden_Green">{{ _('Eden Green') }}</option>
                <option value="Edgebrook">{{ _('Edgebrook') }}</option>
                <option value="Edgewater">{{ _('Edgewater') }}</option>
                <option value="Edgewater_Beach">{{ _('Edgewater Beach') }}</option>
                <option value="Edgewater_Glen">{{ _('Edgewater Glen') }}</option>
                <option value="Edison_Park">{{ _('Edison Park') }}</option>
                <option value="Englewood">{{ _('Englewood') }}</option>
                <option value="Fernwood">{{ _('Fernwood') }}</option>
                <option value="Fifth_City">{{ _('Fifth City') }}</option>
                <option value="Ford_City">{{ _('Ford City') }}</option>
                <option value="Forest_Glen">{{ _('Forest Glen') }}</option>
                <option value="Fuller_Park">{{ _('Fuller Park') }}</option>
                <option value="Fulton_River_District">{{ _('Fulton River District') }}</option>
                <option value="Gage_Park">{{ _('Gage Park') }}</option>
                <option value="Galewood">{{ _('Galewood') }}</option>
                <option value="The_Gap">{{ _('The Gap') }}</option>
                <option value="Garfield_Ridge">{{ _('Garfield Ridge') }}</option>
                <option value="Gladstone_Park">{{ _('Gladstone Park') }}</option>
                <option value="Gold_Coast">{{ _('Gold Coast') }}</option>
                <option value="Golden_Gate">{{ _('Golden Gate') }}</option>
                <option value="Goose_Island">{{ _('Goose Island') }}</option>
                <option value="Graceland_West">{{ _('Graceland West') }}</option>
                <option value="Grand_Boulevard">{{ _('Grand Boulevard') }}</option>
                <option value="Grand_Crossing">{{ _('Grand Crossing') }}</option>
                <option value="Greater_Grand_Crossing">{{ _('Greater Grand Crossing') }}</option>
                <option value="Greektown">{{ _('Greektown') }}</option>
                <option value="Gresham">{{ _('Gresham') }}</option>
                <option value="Groveland_Park">{{ _('Groveland Park') }}</option>
                <option value="Hamilton_Park">{{ _('Hamilton Park') }}</option>
                <option value="Hanson_Park">{{ _('Hanson Park') }}</option>
                <option value="Heart_of_Chicago">{{ _('Heart of Chicago') }}</option>
                <option value="Hegewisch">{{ _('Hegewisch') }}</option>
                <option value="Hermosa">{{ _('Hermosa') }}</option>
                <option value="Hollywood_Park">{{ _('Hollywood Park') }}</option>
                <option value="Homan_Square">{{ _('Homan Square') }}</option>
                <option value="Humboldt_Park">{{ _('Humboldt Park') }}</option>
                <option value="Hyde_Park">{{ _('Hyde Park') }}</option>
                <option value="Illinois_Medical_District">{{ _('Illinois Medical District') }}</option>
                <option value="Irving_Park">{{ _('Irving Park') }}</option>
                <option value="Irving_Woods">{{ _('Irving Woods') }}</option>
                <option value="The_Island">{{ _('The Island') }}</option>
                <option value="Jackowo">{{ _('Jackowo') }}</option>
                <option value="Jackson_Park_Highlands">{{ _('Jackson Park Highlands') }}</option>
                <option value="Jefferson_Park">{{ _('Jefferson Park') }}</option>
                <option value="K_Town">{{ _('K-Town') }}</option>
                <option value="Kelvyn_Park">{{ _('Kelvyn Park') }}</option>
                <option value="Kennedy_Park">{{ _('Kennedy Park') }}</option>
                <option value="Kensington">{{ _('Kensington') }}</option>
                <option value="Kenwood">{{ _('Kenwood') }}</option>
                <option value="Kilbourn_Park">{{ _('Kilbourn Park') }}</option>
                <option value="Kosciuszko_Park">{{ _('Kosciuszko Park') }}</option>
                <option value="Lake_Meadows">{{ _('Lake Meadows') }}</option>
                <option value="Lake_View">{{ _('Lake View') }}</option>
                <option value="Lakeview_East">{{ _('Lakeview (East)') }}</option>
                <option value="Lakewood_Balmoral">{{ _('Lakewood / Balmoral') }}</option>
                <option value="LeClaire_Courts">{{ _('LeClaire Courts') }}</option>
                <option value="Legends_South">{{ _('Legends South (Robert Taylor Homes)') }}</option>
                <option value="Lilydale">{{ _('Lilydale') }}</option>
                <option value="Lincoln_Park">{{ _('Lincoln Park') }}</option>
                <option value="Lincoln_Square">{{ _('Lincoln Square') }}</option>
                <option value="Lithuanian_Plaza">{{ _('Lithuanian Plaza') }}</option>
                <option value="Little_Italy">{{ _('Little Italy') }}</option>
                <option value="Little_Village">{{ _('Little Village') }}</option>
                <option value="Logan_Square">{{ _('Logan Square') }}</option>
                <option value="Longwood_Manor">{{ _('Longwood Manor') }}</option>
                <option value="The_Loop">{{ _('The Loop') }}</option>
                <option value="Lower_West_Side">{{ _('Lower West Side') }}</option>
                <option value="Loyola">{{ _('Loyola') }}</option>
                <option value="Magnificent_Mile">{{ _('Magnificent Mile') }}</option>
                <option value="Margate_Park">{{ _('Margate Park') }}</option>
                <option value="Marquette_Park">{{ _('Marquette Park') }}</option>
                <option value="Marshall_Square">{{ _('Marshall Square') }}</option>
                <option value="Marynook">{{ _('Marynook') }}</option>
                <option value="Mayfair">{{ _('Mayfair') }}</option>
                <option value="McKinley_Park">{{ _('McKinley Park') }}</option>
                <option value="Merchant_Park">{{ _('Merchant Park') }}</option>
                <option value="Montclare">{{ _('Montclare') }}</option>
                <option value="Morgan_Park">{{ _('Morgan Park') }}</option>
                <option value="Mount_Greenwood">{{ _('Mount Greenwood') }}</option>
                <option value="Museum_Campus">{{ _('Museum Campus') }}</option>
                <option value="New_Eastside">{{ _('New Eastside') }}</option>
                <option value="Near_North_Side">{{ _('Near North Side') }}</option>
                <option value="Near_West_Side">{{ _('Near West Side') }}</option>
                <option value="New_Chinatown">{{ _('New Chinatown') }}</option>
                <option value="New_City">{{ _('New City') }}</option>
                <option value="Noble_Square">{{ _('Noble Square') }}</option>
                <option value="North_Austin">{{ _('North Austin') }}</option>
                <option value="North_Center">{{ _('North Center') }}</option>
                <option value="North_Kenwood">{{ _('North Kenwood') }}</option>
                <option value="North_Lawndale">{{ _('North Lawndale') }}</option>
                <option value="North_Mayfair">{{ _('North Mayfair') }}</option>
                <option value="North_Park">{{ _('North Park') }}</option>
                <option value="Nortown">{{ _('Nortown') }}</option>
                <option value="Norwood_Park_East">{{ _('Norwood Park East') }}</option>
                <option value="Norwood_Park_West">{{ _('Norwood Park West') }}</option>
                <option value="Oakland">{{ _('Oakland') }}</option>
                <option value="OHare">{{ _('O\'Hare') }}</option>
                <option value="Old_Edgebrook">{{ _('Old Edgebrook') }}</option>
                <option value="Old_Irving_Park">{{ _('Old Irving Park') }}</option>
                <option value="Old_Norwood">{{ _('Old Norwood') }}</option>
                <option value="Old_Town">{{ _('Old Town') }}</option>
                <option value="Old_Town_Triangle">{{ _('Old Town Triangle') }}</option>
                <option value="Oriole_Park">{{ _('Oriole Park') }}</option>
                <option value="Palmer_Square">{{ _('Palmer Square') }}</option>
                <option value="Park_Manor">{{ _('Park Manor') }}</option>
                <option value="Park_West">{{ _('Park West') }}</option>
                <option value="Parkview">{{ _('Parkview') }}</option>
                <option value="Peterson_Park">{{ _('Peterson Park') }}</option>
                <option value="Pill_Hill">{{ _('Pill Hill') }}</option>
                <option value="Pilsen">{{ _('Pilsen') }}</option>
                <option value="Polish_Downtown">{{ _('Polish Downtown') }}</option>
                <option value="Polish_Village">{{ _('Polish Village') }}</option>
                <option value="Portage_Park">{{ _('Portage Park') }}</option>
                <option value="Prairie_Avenue_Historic_District">{{ _('Prairie Avenue Historic District') }}</option>
                <option value="Prairie_Shores">{{ _('Prairie Shores') }}</option>
                <option value="Princeton_Park">{{ _('Princeton Park') }}</option>
                <option value="Printers_Row">{{ _('Printer\'s Row') }}</option>
                <option value="Pulaski_Park">{{ _('Pulaski Park') }}</option>
                <option value="Pullman">{{ _('Pullman') }}</option>
                <option value="Ranch_Triangle">{{ _('Ranch Triangle') }}</option>
                <option value="Ravenswood">{{ _('Ravenswood') }}</option>
                <option value="Ravenswood_Gardens">{{ _('Ravenswood Gardens') }}</option>
                <option value="Ravenswood_Manor">{{ _('Ravenswood Manor') }}</option>
                <option value="River_North">{{ _('River North') }}</option>
                <option value="River_West">{{ _('River West') }}</option>
                <option value="Rivers_Edge">{{ _('River\'s Edge') }}</option>
                <option value="Riverdale">{{ _('Riverdale') }}</option>
                <option value="Rogers_Park">{{ _('Rogers Park') }}</option>
                <option value="Roscoe_Village">{{ _('Roscoe Village') }}</option>
                <option value="Rosehill">{{ _('Rosehill') }}</option>
                <option value="Roseland">{{ _('Roseland') }}</option>
                <option value="Rosemoor">{{ _('Rosemoor') }}</option>
                <option value="St_Bens">{{ _('St. Ben\'s') }}</option>
                <option value="Sauganash">{{ _('Sauganash') }}</option>
                <option value="Schorsch_Forest_View">{{ _('Schorsch Forest View') }}</option>
                <option value="Schorsch_Village">{{ _('Schorsch Village') }}</option>
                <option value="Scottsdale">{{ _('Scottsdale') }}</option>
                <option value="Sheffield_Neighbors">{{ _('Sheffield Neighbors') }}</option>
                <option value="Sheridan_Park">{{ _('Sheridan Park') }}</option>
                <option value="Sheridan_Station_Corridor">{{ _('Sheridan Station Corridor') }}</option>
                <option value="Sleepy_Hollow">{{ _('Sleepy Hollow') }}</option>
                <option value="Smith_Park">{{ _('Smith Park') }}</option>
                <option value="South_Austin">{{ _('South Austin') }}</option>
                <option value="South_Chicago">{{ _('South Chicago') }}</option>
                <option value="South_Commons">{{ _('South Commons') }}</option>
                <option value="South_Deering">{{ _('South Deering') }}</option>
                <option value="South_East_Ravenswood">{{ _('South East Ravenswood') }}</option>
                <option value="South_Edgebrook">{{ _('South Edgebrook') }}</option>
                <option value="South_Lawndale">{{ _('South Lawndale') }}</option>
                <option value="South_Loop">{{ _('South Loop') }}</option>
                <option value="South_Shore">{{ _('South Shore') }}</option>
                <option value="Stateway_Gardens">{{ _('Stateway Gardens') }}</option>
                <option value="Stony_Island_Park">{{ _('Stony Island Park') }}</option>
                <option value="Streeterville">{{ _('Streeterville') }}</option>
                <option value="Talleys_Corner">{{ _('Talley\'s Corner') }}</option>
                <option value="Tri_Taylor">{{ _('Tri-Taylor') }}</option>
                <option value="Ukrainian_Village">{{ _('Ukrainian Village') }}</option>
                <option value="Union_Ridge">{{ _('Union Ridge') }}</option>
                <option value="University_Village">{{ _('University Village') }}</option>
                <option value="Uptown">{{ _('Uptown') }}</option>
                <option value="The_Villa">{{ _('The Villa') }}</option>
                <option value="Vittum_Park">{{ _('Vittum Park') }}</option>
                <option value="Waclawowo">{{ _('Wacławowo') }}</option>
                <option value="Washington_Heights">{{ _('Washington Heights') }}</option>
                <option value="Washington_Park">{{ _('Washington Park') }}</option>
                <option value="Wentworth_Gardens">{{ _('Wentworth Gardens') }}</option>
                <option value="West_Beverly">{{ _('West Beverly') }}</option>
                <option value="West_Chatham">{{ _('West Chatham') }}</option>
                <option value="West_Chesterfield">{{ _('West Chesterfield') }}</option>
                <option value="West_DePaul">{{ _('West DePaul') }}</option>
                <option value="West_Elsdon">{{ _('West Elsdon') }}</option>
                <option value="West_Englewood">{{ _('West Englewood') }}</option>
                <option value="West_Garfield_Park">{{ _('West Garfield Park') }}</option>
                <option value="West_Humboldt_Park">{{ _('West Humboldt Park') }}</option>
                <option value="Lakeview_West">{{ _('Lakeview (West)') }}</option>
                <option value="West_Lawn">{{ _('West Lawn') }}</option>
                <option value="West_Loop">{{ _('West Loop') }}</option>
                <option value="West_Morgan_Park">{{ _('West Morgan Park') }}</option>
                <option value="West_Pullman">{{ _('West Pullman') }}</option>
                <option value="West_Ridge">{{ _('West Ridge') }}</option>
                <option value="West_Rogers_Park">{{ _('West Rogers Park') }}</option>
                <option value="West_Town">{{ _('West Town') }}</option>
                <option value="West_Woodlawn">{{ _('West Woodlawn') }}</option>
                <option value="Wicker_Park">{{ _('Wicker Park') }}</option>
                <option value="Wildwood">{{ _('Wildwood') }}</option>
                <option value="Woodlawn">{{ _('Woodlawn') }}</option>
                <option value="Wrightwood">{{ _('Wrightwood') }}</option>
                <option value="Wrightwood_Neighbors">{{ _('Wrightwood Neighbors') }}</option>
                <option value="Wrigleyville">{{ _('Wrigleyville') }}</option>
            </select>
        </div>

        <h2>{{ _('Hours of Operation:') }}</h2>
        <div id="hours-container">
            <div class="hours-group" id="monday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Monday') }}</label>
                        <div>
                            <input type="time" name="monday-open-1" class="time-input">
                            <input type="time" name="monday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('monday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hours-group" id="tuesday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Tuesday') }}</label>
                        <div>
                            <input type="time" name="tuesday-open-1" class="time-input">
                            <input type="time" name="tuesday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('tuesday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hours-group" id="wednesday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Wednesday') }}</label>
                        <div>
                            <input type="time" name="wednesday-open-1" class="time-input">
                            <input type="time" name="wednesday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('wednesday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hours-group" id="thursday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Thursday') }}</label>
                        <div>
                            <input type="time" name="thursday-open-1" class="time-input">
                            <input type="time" name="thursday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('thursday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hours-group" id="friday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Friday') }}</label>
                        <div>
                            <input type="time" name="friday-open-1" class="time-input">
                            <input type="time" name="friday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('friday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hours-group" id="saturday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Saturday') }}</label>
                        <div>
                            <input type="time" name="saturday-open-1" class="time-input">
                            <input type="time" name="saturday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('saturday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hours-group" id="sunday-group">
                <div class="day-intervals">
                    <div class="day-group">
                        <label class="day-label">{{ _('Sunday') }}</label>
                        <div>
                            <input type="time" name="sunday-open-1" class="time-input">
                            <input type="time" name="sunday-close-1" class="time-input">
                        </div>
                        <div class="buttons-group">
                            <button type="button" onclick="addInterval('sunday-group')">{{ _('Add Break') }}</button>
                            <button type="button" style="visibility: hidden;">{{ _('Remove') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="button button-blue">{{ _('Register') }}</button>
    </div>
</div>

    <script>
        function addInterval(dayId) {
            const dayGroup = document.getElementById(dayId).querySelector('.day-intervals');
            const newInterval = document.createElement('div');
            newInterval.className = 'day-group';
            const day = dayId.slice(0, -6);
            const number = dayGroup.parentNode.children.length + 1;

            newInterval.innerHTML = `
                <label class="day-label"></label>
                <div>
                    <input type="time" name="${day}-open-${number}" class="time-input">
                    <input type="time" name="${day}-close-${number}" class="time-input">
                </div>
                <div class="buttons-group">
                    <button type="button" onclick="addInterval('${dayId}')">{{ _('Add Break') }}</button>
                    <button type="button" onclick="removeInterval(this)">{{ _('Remove') }}</button>
                </div>
            `;
            dayGroup.appendChild(newInterval);
        }

        function removeInterval(button) {
            const dayGroup = button.closest('.day-group');
            if (dayGroup.parentNode.children.length > 1) {
                dayGroup.remove();
            }
        }
    </script>
    </form>
</div>
{% endblock %}
