<!--
Project: new_arrivals_chi
File name: change_password.html
Associated Files:
    base.html

HTML for change password page upon user sign up.
-->

{% extends "base.html" %}

{% block content %}

<div class="wrapper">
<div class="button-container">
<div class="column is-4 is-offset-4">
    <div class="box">
    <h3 class="title">
        {{ 'Register New User' if language == 'en' else 'Registrar Nuevo Usuario' | escape }}
    </h3>
    <p class="subtext">
        <p class="subtext">
            {{ ("Please use the temporary registration password provided in your registration email to sign up. You will need to change this temporary password during the registration process." if language == 'en' else "Por favor, use la contraseña temporal de registro proporcionada en su correo electrónico de registro para inscribirse. Necesitará cambiar esta contraseña temporal durante el proceso de registro.") | escape }}
        </p>
        
    </p>

    
        <form method="POST" action="/registration_change_password">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] | escape }}</a>
                </div>
            {% endif %}
            {% endwith %}
        <form method="POST" action="/registration_change_password">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{ translations[language]['login']['email'] | escape }}" autofocus="">
                </div>
            </div>
                
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="old_password" placeholder="{{ 'Registration Password' if language == 'en' else 'Contraseña de registro' | escape }} "oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password" placeholder="{{ 'Password' if language == 'en' else 'Contraseña' | escape }}" oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password_confirm" placeholder="{{ 'Password' if language == 'en' else 'Contraseña' | escape }}"  oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>
            <button class="login-button button-blue">{{ 'Register Account' if language == 'en' else 'Registrar Cuenta' | escape }}</button>
        </form>
        
        <p class="subtext">
            {{ ("Your new password must meet the following criteria: it must include at least one uppercase letter, one lowercase letter, one number, one special character, and be longer than 8 characters. Additionally, it should not be a commonly used password."
            if language == 'en' else
            "Su nueva contraseña debe cumplir con los siguientes criterios: debe incluir al menos una letra mayúscula, una letra minúscula, un número, un carácter especial y tener más de 8 caracteres. Además, no debe ser una contraseña comúnmente utilizada.") | escape }}
        </p>
        
    </div>
</div>
</div>
</div>
{% endblock %}
