<!--
Project: new_arrivals_chi
File name: change_password.html
Associated Files:
    base.html

HTML for change password page upon user sign up.
-->

{% extends "base.html" %}

{% block content %}

<div class="wrapper">
<div class="button-container">
<div class="column is-4 is-offset-4">
    <div class="box">
    <h3 class="title">
        {{ _('Register New User') }}
    </h3>
    <p class="subtext">
            {{ _("Please use the temporary registration password provided in your registration email to sign up. You will need to change this temporary password during the registration process.")}}
        </p>

        <form method="POST" action="/registration_change_password">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashed_error_message">
                    {{ messages[0] | escape }}</a>
                </div>
            {% endif %}
            {% endwith %}
        <form method="POST" action="/registration_change_password">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{ _('Email') }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="old_password" placeholder="{{ _('Registration Password') }} "oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password" placeholder="{{ _('Password') }}" oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="new_password_confirm" placeholder="{{ _('Password') }}"  oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>
            <button class="login-button button-blue">{{ _('Register Account') }}</button>
        </form>

        <p class="subtext">
            {{ _("Your new password must meet the following criteria: it must include at least one uppercase letter, one lowercase letter, one number, one special character, and be longer than 8 characters. Additionally, it should not be a commonly used password.") }}
        </p>

    </div>
</div>
</div>
</div>
{% endblock %}
