<!--
Project: new_arrivals_chi
File name: signup.html
Associated Files:
    base.html, main.py

Skeleton HTML for user sign up page.

References: https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login
-->

{% extends "base.html" %}
{% block content %}

<div class="column is-4 is-offset-4">
    <div class="box">
        <form method="POST" action="/signup">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] | escape }}.
                </div>
            {% endif %}
            {% endwith %}
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="{{ _('Email') }}" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="{{ _('Password') }}" autofocus="" oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password_confirm" placeholder="{{ _('Password') }}" autofocus="" oncopy="return false" oncut="return false" onpaste="return false">
                </div>
            </div>

            <div class="content">
                {{ _('Your password must include at least one uppercase letter, one lowercase letter, one number, one special symbol, and be longer than 8 characters.') }}
            </div>
            <button class="button is-block is-info is-large is-fullwidth">{{ _('Sign Up') }}</button>
        </form>
    </div>
</div>

{% endblock %}

