<!--
Project: new_arrivals_chi
File name: tps_apply.html
Associated Files:
    base.html, main.py, legal_page.css, lawyers.html
-->
{% extends "base.html" %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/legal_page.css') }}"
/>
{% endblock %} {% block content %}
<div class="white-container">
  <h1>{{_('Resources to Apply for TPS')}}</h1>

  <h2>{{_('Workshops')}}</h2>

  <p>
    {{_('TPS & Work Permit Immigration Application Workshops for Recent
    Arrivals. Registration for centralized workshops for work permits through
    Temporary Protected Status and parole is currently closed.')}}
  </p>

  <p>
    <a href="https://welcometoil.org/resources/" target="_blank"
      >{{_('Welcome to IL')}}</a
    >
  </p>

  <h2>{{_('How can I apply for TPS?')}}</h2>

  <p>
    {{_('To apply for TPS or re-register, submit Form I-821, Application for
    Temporary Protected Status I-821 to USCIS. There are instructions on how to
    apply on the USCIS website.')}}
  </p>

  <p>
    <a href="https://www.uscis.gov/i-821" target="_blank"
      >{{_('View and submit Form I-821 here.')}}</a
    >
  </p>

  <p>
    {{_('You can also request an employment authorization document (EAD) at the
    same time. Use Form I-765, Request for Employment Authorization. You can
    also file this later.')}}
  </p>

  <h3>{{_('Evidence')}}</h3>

  <p>
    {{_('Along with your application, you must also submit evidence proving:')}}
  </p>

  <ul>
    <li>{{_('Your identity and nationality,')}}</li>

    <li>{{_('The date you entered the US,')}}</li>

    <li>{{_('Residence in the US, and')}}</li>

    <li>
      {{_('Court disposition record (if you were arrested, charged, or
      convicted).')}}
    </li>
  </ul>

  <h3>{{_('Fees:')}}</h3>

  <ul>
    <li>
      {{_('There is a fee to file. The fee is based on factors such as your
      age.')}}
    </li>

    <li>
      {{_('If you are applying for the first time, the fee to file Form I-821 is
      $50.')}}
    </li>

    <li>
      {{_('If you have TPS and are re-registering, there is no fee for the
      form.')}}
    </li>

    <li>
      {{_('If you also apply for employment authorization, the fee is $410 for
      Form I-765.')}}
    </li>

    <li>
      {{_('If you are under 14 or over 65, you don\'t have to pay for the EAD
      when you file a TPS application.')}}
    </li>

    <li>
      {{_('If you are 14 or older, there is a $85 biometric services fee.')}}
    </li>

    <li>
      {{_('You may also use their fee calculator to figure out your fee.')}}
    </li>
  </ul>

  <h3>{{_('Fee Waiver')}}</h3>

  <p>
    <a href="https://www.uscis.gov/i-912" target="_blank"
      >{{_('Form I-912, Application for Fee Waiver.')}}</a
    >
  </p>

  <ul>
    <li>
      {{_('If you can\'t pay for the filing fees or biometric services fees')}}
    </li>
  </ul>

  <h3>{{_('Filing the fee waiver request with your application.')}}</h3>

  <ul>
    <li>
      {{_('You can use one form for both the filing and biometric service
      fee.')}}
    </li>

    <li>{{_('If USCIS approves your request, both fees will be waived.')}}</li>

    <li>
      {{_('If you are requesting a fee waiver, you have to file paper versions
      of the application and fee waiver request.')}}
    </li>

    <li>
      {{_('You can file one Form I-912 for all family member\'s applications.
      All the forms must be sent together.')}}
    </li>

    <li>{{_('To receive a fee waiver, you must prove that:')}}</li>

    <li>
      {{_('You are receiving a public benefit based on your income (such as
      Medicaid, SNAP, TANF, or SSI),')}}
    </li>

    <li>
      {{ _('Your household income is at or below 150 percent of the federal poverty level.') }}
    </li>

    <li>{{_('You are experiencing financial hardship.')}}</li>

    <li>
      {{_('If your fee waiver is denied, you can refile and pay the fees. You
      must pay the fees either before the registration deadline or within 45
      days of the date on your fee waiver denial letter, whichever is later.')}}
    </li>
  </ul>

  <p>
    <a
      href="https://www.uscis.gov/forms/filing-fees/additional-information-on-filing-a-fee-waiver"
      target="_blank"
      >{{_('Learn more about filing a fee waiver here.')}}</a
    >
  </p>

  <p>
    {{_('You can call USCIS at (800)375-5283 to request a paper form. For TTY,
    call (800)767-1833.')}}
  </p>

  <h2>{{_('What happens after I apply?')}}</h2>

  <h3>{{_('If you are approved:')}}</h3>

  <ul>
    <li>
      {{_('If USCIS approves your TPS application, they will send you an
      approval notice with an I-94, Arrival/Departure Record. This is evidence
      of your TPS.')}}
    </li>

    <li>
      {{_('If you applied for employment authorization, you will receive an
      Employment Authorization Document (EAD).')}}
    </li>
  </ul>

  <h3>{{_('If you are denied:')}}</h3>

  <ul>
    <li>
      {{_('IF USCIS denies your application, you will receive a denial
      letter.')}}
    </li>

    <li>
      {{_('If you are eligible, the letter will state that you have 30 days to
      appeal to the USCIS Administrative Appeals Office (AAO).')}}
    </li>
  </ul>

  <p>
    <a href="https://www.illinoislegalaid.org/" target="_blank"
      >{{_('Illinois Legal Aid')}}</a
    >
  </p>
  <div class="container">
    <button
      class="button button-blue"
      onclick="navigateTo('/legal/lawyers', '{{ get_locale() }}')"
    >
      {{ _('Find a Lawyer') | escape }}
    </button>
  </div>
</div>
{% endblock %}
