<!--
Project: new_arrivals_chi
File name: vttc_info.html
Associated Files:
    base.html, main.py, legal_page.css, lawyers.html
-->
{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/legal_page.css') }}">
{% endblock %}

{% block content %}
<div class="white-container">
  {% set content = translations[language]['vttc_info'] %}
  {% if content.title %}
    <h1>{{ content.title }}</h1>
  {% endif %}
  {% for section in content.content %}
    {% if section.header %}
        <h2>{{ section.header }}</h2>
    {% endif %}
    {% if section.sub %}
      <h3>{{ section.sub }}</h3>
    {% endif %}
    {% if section.body %}
      <p>{{ section.body }}</p>
    {% endif %}
    {% if section.link_text and section.source_link %}
      <p><a href="{{ section.source_link }}" target="_blank">{{ section.link_text }}</a></p>
    {% endif %}
    {% if section.list %}
      <ul>
        {% for item in section.list %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
    <div class="container">
      <button class="button button-blue" onclick="location.href='{{ url_for('main.lawyers', lang=language) }}'">
        {{ translations[language]['legal']['find_lawyers'] | escape }}
    </button>
    </div>
  </div>
  {% endblock %}
