<!--
Project: new_arrivals_chi
File name: vttc_apply.html
Associated Files:
    base.html, main.py, legal_page.css, lawyers.html

-->
{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/legal_page.css') }}" />
{% endblock %}
{% block content %}
<div class="white-container">
  <h1>{{ _('Resources to Apply for Work Authorization Through VTTC') }}</h1>

  <h2>{{ _('How to Apply') }}</h2>

  <ul>
    <li>{{ _('1. Apply online via https://abe.illinois.gov.') }}</li>
    <li>{{ _('2. Upon completion of the application, upload the required documents needed to supplement the application. If you don’t have these readily available, you can submit after submission.') }}</li>
  </ul>

  <h3>{{ _('Required Documents') }}</h3>

  <ul>
    <li>{{ _('Government issued Photo ID (a passport is acceptable)') }}</li>
    <li>{{ _('Proof of income for all “earners” in household (paystubs, letter from your employer, W-2, taxes)') }}</li>
    <li>{{ _('Proof of residency (photo ID, lease, official mail, car insurance)') }}</li>
    <li>{{ _('Social Security numbers for all members of household who have one') }}</li>
    <li>{{ _('Birth certificates for all members who have one') }}</li>
    <li>{{ _('Sworn Statement from the client stating that you are eligible and plan to apply') }}</li>
    <li>{{ _('Sworn statement from a service provider/attorney stating that you are eligible because of the visa for which you are applying') }}</li>
    <li>{{ _("If you've already filed, you can submit a receipt of your application") }}</li>
  </ul>

  <p>{{ _('All VTTC benefits are being processed through the Special Units DHS office. Special Units will also handle any companion cases associated with the VTTC cases. Upon submitting your application, send an email to DHS.FCS.VTTC@illinois.gov with the application # and indicate that you applied for your client(s) for VTTC benefits. You can send supplemental documentation then.') }}</p>
  <p>{{ _('Sometimes, a local office gets the application before Special Units can pull it from the queue. In that event, the local office should accept the application and forward it to Special Units for processing.') }}</p>

  <h2>{{ _('Get Help Applying: TPS & Work Authorization Immigration Application Workshops for Recent Arrivals') }}</h2>

  <p>{{ _('TPS & Work Permit Immigration Application Workshops for Recent Arrivals. Registration for centralized workshops for work permits through Temporary Protected Status and parole is currently closed.') }}</p>
  <p><a href="https://welcometoil.org/resources/" target="_blank">{{ _('Welcome to IL') }}</a></p>
  <p>{{ _('The State of Illinois and the City of Chicago, in partnership with local community organizations, provide assistance to help eligible immigrants apply to stay or work in the US legally. Certain recently arrived immigrants are eligible to participate in centralized application workshops for TPS and Work Permits based on parole. Workshops are free of charge. Follow the below steps to learn if you are eligible and to sign up to participate:') }}</p>

  <h3>{{ _('Steps to Participate') }}</h3>
  <ul>
    <li>{{ _('Step 1: Determine if you are eligible to attend a workshop – complete a screening form to determine if you are eligible: Click here to complete.') }}</li>
    <li>{{ _('Step 2: The State of Illinois and/or City of Chicago will complete a verification process within ~2 weeks of submitting your screening form. If additional information is needed, you will receive a text and/or email requesting that information.') }}</li>
    <li>{{ _('Step 3: Once determined eligible to attend a workshop, you will be sent a link to schedule a workshop appointment by text and/or email. Respond to the invitation and sign up for a workshop appointment. Workshop appointments are first-come first-served, every Tuesday - Friday. New appointments are added frequently - continue checking if you do not yet see an appointment available.') }}</li>
    <li>{{ _('Step 4: Complete your workbook and prepare your documents. You may download the workbook here. You can print the workbook at any Chicago Public Library using your CityKey Chicago ID.') }}</li>
    <li>{{ _('Step 5: Attend the workshop according to the instructions texted or emailed to you. Be sure to bring your completed workbook & documents!') }}</li>
    <li>{{ _('Step 6: At the workshop, a legal representative will review your eligibility for TPS or a work permit based on parole. If you are eligible, your immigration application will be prepared. Many applicants are also able to proceed with USCIS processing to have your application submitted to USCIS (Immigration) and your fingerprints taken the same day. Some applicants will be scheduled for a second appointment for USCIS processing.') }}</li>
    <li>{{ _('Step 7: Attend your USCIS appointment at which point you will be issued a receipt number, and you may have your photo or fingerprints taken.') }}</li>
    <li>{{ _('Step 8: Wait to receive notices from USCIS by mail. USCIS will generally process your application in ~30 days and mail you a decision. If approved, you will receive your work permit and social security number via mail.') }}</li>
  </ul>

  <p>{{ _('Need assistance with registration? Call 312-668-0114 Monday - Friday, 12pm - 4pm for assistance.') }}</p>

  <div class="container">
    <button
      class="button button-blue"
      onclick="navigateTo('/legal/lawyers', '{{ get_locale() }}')"
    >
      {{ _('Find a Lawyer') | escape }}
    </button>
  </div>
</div>
{% endblock %}
