<!--
Project: new_arrivals_chi
File name: work_rights.html
Associated Files:
    base.html, main.py

Landing page for user to navigate through legal parole information.

Creation:
@Author: Xiomara Salazar @xiomara0
@Date: 05/12/2024

-->

{% extends "base.html" %}

{% block content %}
    <form action="/legal/parole_info" method="GET">
        <button type="submit" class="language-button">{{ translations[language]['util']['language'] | escape }}</button>
        <input type="hidden" name="lang" value="{{ 'es' if language == 'en' else 'en' | escape }}">
    </form>
    <!-- We still need to make json for this static page-->

    <h1>{{ translations[language]['legal_start']['work_rights']  }}</h1> 
    

{% endblock %}